/* Style de texte */
@font-face {
    font-family:'Panthera';
    src: url(../font/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family:'beyno';
    src: url(../font/beyno.ttf);
}

@font-face {
    font-family:'Cantarell';
    src: url(../font/Cantarell-Regular.ttf);
}

@font-face {
    font-family:'Wakanda';
    src: url(../font/WakandaForever-Regular.ttf);
}

/* Style du document */
html {
    position: relative;
    z-index: 1;
    background-image: url(../Illustrations/All_pages/arrière_plan.png)
  }
  
body {
    position: relative;
    z-index: 2;
  }

/* Couleur */
:root{
    --white-color : #FFFFFF;
    --pink-light-color : #F2CEF2;
    --lavender-color : #9E91B7;
    --pink-color : #DF99F2;
    --purple-color : #3D2DA6;
    --blue-color : #07338C;
    --dark-blue : #021740;
}

/* Style de police sur chaque niveau */
h1{
    font-family:'Panthera';
    font-size: 45px;
    color: var(--lavender-color);
}

h2{
    font-family:'beyno';
    font-size: 25px;
    color: var(--lavender-color);
}

h3{
    font-family:'Wakanda';
    font-size: 43px;
}

p{
    font-family:'Cantarell';
    font-size: 10px;
    color: #ffffff9a;
}

/* Navigateur header */
.Header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.Header-menu{
    display: flex;
    list-style-type: none;
}

.Logo{
    margin-top: 20px;
    width: 70%;
    height: 45%;
}

.Logo:hover{
    filter: invert(10%) sepia(78%) saturate(5771%) hue-rotate(251deg) brightness(87%) contrast(87%);
}

.Header-menu li a{
    padding-left: 60px;
    font-family:'beyno';
    font-size: 14px;
    text-decoration: none;
    color: var(--white-color);
}

.Header-menu li a:hover{
    text-decoration: underline;
}

.Header-menu a.active{
    color:#9E91B7;
    text-decoration: underline;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

/*Première section*/
.section1{
    background-image: url(../Illustrations/Wakanda/Pantherwakanda1.png);
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-position-x: -200px;
    background-position-y: -100px;
    animation: fade-in 2s ease-in-out forwards;
}

.section1-text h2{
    font-size: 43px;
    letter-spacing: 3px;
    margin-left: 150px;
    padding-top: 270px;
}

.section1-text h3{
    color: var(--lavender-color);
    font-size: 25.5px;
    letter-spacing: 7px;
    margin-left: 150px;
    margin-top: -30px;
}

.section1-text p{
    width: 26%;
    text-align: justify;
    margin-left: 150px;
    padding-top: 3px;
}

/*Deuxième section*/
.tiger img{
   position: absolute;
   height: 900px;
   width: 1150px;
   top: 750px;
   left: 120px;
   opacity: 0.9;
   animation: fade-in 2s ease-in-out forwards;
}

.section2{
    display: flex;
    margin-top: -70px;
    animation: fade-in 2s ease-in-out forwards;
}

.section2 h2{
    font-weight: 300;
    font-size: 20px;
}

/*Deuxième section côté gauche*/
.section2-left{
    text-align: justify;
    width: 45%;
    margin-left: 150px;
}

.section2-left p{
    color: #FFFFFF;
}

iframe{
    height: 200px;
    width: 470px;
    padding: 50px 0;
}

/*Deuxième section côté droite*/
.section2-right p{
    text-align: justify;
    width: 62%;
    margin-left: 100px;
    margin-right: 150px;
    color: #FFFFFF;
}

.section2-right h2{
    margin-left: 100px;
}

.section2-right img{
    height: 250px;
    width: 450px;
    margin-left: 100px;
    padding-top: 30px;
}

/*Section Footer*/
#footer{
    background-image: url(../Illustrations/All_pages/back_footer.png);
    margin-top: 100px;
    height: 550px;
}

.footer1{
    display: flex;
}

.footer-logo{
    margin-left: 250px;
    margin-right: -50px;
}

.footer-logo img{
    height: 300px;
    width: 250px;
    margin-top: 120px;
}

.marvel{
    position: absolute;
    margin-top: 240px;
    margin-left: 310px;
}

.marvel:hover{
    filter: invert(10%) sepia(78%) saturate(5771%) hue-rotate(251deg) brightness(87%) contrast(87%);
}

.footer-pages{
    margin-top: 100px;
    margin-left: 120px;
}

h4{
    color: #ffffffbc;
    font-weight: bold;
    font-size: 16.5px;
    font-family:'Cantarell';
    margin-left: 40px;
    letter-spacing: 3px;
}

.footer-pages ul li{
    display: block;
    list-style-type: none;
    text-decoration: none;
    color: #ffffffbc;
    font-weight: 500;
    font-family:'Cantarell';
}

.footer-pages a{
    text-decoration: none;
    color: #ffffffbc;
    font-weight: 300;
    font-family:'Cantarell';
}

.footer-pages a:hover{
    text-decoration: underline;
}

.footer-social-media ul li{
    display: block;
    list-style-type: none;
    color: #ffffffbc;
    font-weight: bold;
    font-family:'Cantarell';
}

.footer-social-media{
    margin-top: 100px;
    margin-left: 165px;
    line-height: 20px;
}

.footer-social-media a img{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}

.footer-social-media a .blanc:hover{
    filter: invert(10%) sepia(100%) saturate(0%) hue-rotate(96deg) brightness(105%) contrast(102%);
}

.footer-social-media a .noir:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(96deg) brightness(105%) contrast(102%);
}

.footer2{
    display: flex;
    list-style-type: none;
    margin-left: 600px;
    margin-top: -70px;
    margin-bottom: 100px;
}

.footer2 p{
    font-size: 13px;
    padding-top: 4px;
}

.footer2 .footer2-list{
    display: flex;
    color: #ffffffbc;
    margin-left: -10px;
}

.footer2-list a{
    color: #ffffffbc;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    font-family:'Cantarell';
    padding-right: 25px;
}

.footer2-list a:hover{
    text-decoration: underline;
}
