    $white-color : #FFFFFF;
    $pink-light-color : #F2CEF2;
    $lavender-color : #9E91B7;
    $pink-color : #DF99F2;
    $purple-color : #3D2DA6;
    $blue-color : #07338C;
    $dark-blue : #021740;
    $popup-color : #3d2da66b;
