@font-face {
    font-family:'Panthera';
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family:'beyno';
    src: url(../police/beyno.ttf);
}

@font-face {
    font-family:'Cantarell';
    src: url(../police/Cantarell-Regular.ttf);
}

@font-face {
    font-family:'Wakanda';
    src: url(../police/WakandaForever-Regular.ttf);
}